---
import Mainlayout from "../../layouts/mainlayout.astro";
---

<Mainlayout>
  <div
    class="flex items-center justify-center relative overflow-hidden w-full h-[12rem] md:h-[20rem] bg-cover bg-center bg-[url('/about-banner-bg.jpg')]"
  >
    <div class="p-6 max-w-6xl">
      <h1 class="text-7xl font-bold text-center text-white">Blog/Articles</h1>
      <p class="text-white text-center max-w-3xl mx-auto py-2">
        Sadaqah Online simplifies your charitable giving, ensuring your
        donations reach those in need within 72 hours timely, effective, and
        impactful.
      </p>
    </div>
  </div>

  <!-- Card Blog -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid lg:grid-cols-2 gap-6">
      <!-- Card -->
      <a
        class="group sm:flex rounded-xl focus:outline-none"
        href="/articles/why-giving sadaqah online is easier-and-more-meaningful-than-ever"
      >
        <div
          class="shrink-0 relative rounded-xl overflow-hidden h-[200px] sm:w-[250px] sm:h-[350px] w-full"
        >
          <img
            class="size-full absolute top-0 start-0 object-cover"
            src="https://images.unsplash.com/photo-1664574654529-b60630f33fdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80"
            alt="Blog Image"
          />
        </div>

        <div class="grow">
          <div class="p-4 flex flex-col h-full sm:p-6">
            <div class="mb-3">
              <p
                class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800"
              >
                Business
              </p>
            </div>
            <h3
              class="text-lg sm:text-2xl font-semibold text-gray-800 group-hover:text-blue-600 group-focus:text-blue-600"
            >
              Why Giving Sadaqah Online is Easier and More Meaningful than Ever
            </h3>
            <p class="mt-2 text-gray-600">
              Giving Sadaqah is a beautiful act that brings blessings to both
              the giver and the receiver.
            </p>

            <div class="mt-5 sm:mt-auto">
              <!-- Avatar -->
              <div class="flex items-center">
                <div class="shrink-0">
                  <img
                    class="size-[46px] rounded-full"
                    src="/user.png"
                    alt="Avatar"
                  />
                </div>
                <div class="ms-2.5 sm:ms-4">
                  <h4 class="font-semibold text-gray-800">
                    Mohammed Hussain Shaikh
                  </h4>
                  <p class="text-xs text-gray-500">Content Writer</p>
                </div>
              </div>
              <!-- End Avatar -->
            </div>
          </div>
        </div>
      </a>
      <!-- End Card -->

      <!-- Card -->
      <a
        class="group sm:flex rounded-xl focus:outline-none"
        href="/articles/how-sadaqah-online-connects-donors-with-real-impact-around-the-world"
      >
        <div
          class="shrink-0 relative rounded-xl overflow-hidden h-[200px] sm:w-[250px] sm:h-[350px] w-full"
        >
          <img
            class="size-full absolute top-0 start-0 object-cover"
            src="https://images.unsplash.com/photo-1669824774762-65ddf29bee56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80"
            alt="Blog Image"
          />
        </div>
        <div class="grow">
          <div class="p-4 flex flex-col h-full sm:p-6">
            <div class="mb-3">
              <p
                class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800"
              >
                Announcements
              </p>
            </div>
            <h3
              class="text-lg sm:text-2xl font-semibold text-gray-800 group-hover:text-blue-600 group-focus:text-blue-600"
            >
              How Sadaqah Online Connects Donors with Real Impact around the
              World
            </h3>
            <p class="mt-2 text-gray-600">
              Sadaqah is about making a difference, and online platforms are
              helping connect us with those.
            </p>

            <div class="mt-5 sm:mt-auto">
              <!-- Avatar -->
              <div class="flex items-center">
                <div class="shrink-0">
                  <img
                    class="size-[46px] rounded-full"
                    src="/user.png"
                    alt="Avatar"
                  />
                </div>
                <div class="ms-2.5 sm:ms-4">
                  <h4 class="font-semibold text-gray-800">
                    Ali Khan
                  </h4>
                  <p class="text-xs text-gray-500">Content Writer</p>
                </div>
              </div>
              <!-- End Avatar -->
            </div>
          </div>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Blog -->
  <!-- Card Blog -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid lg:grid-cols-2 gap-6">
      <!-- Card -->
      <a
        class="group sm:flex rounded-xl focus:outline-none"
        href="/articles/step-by-step-guide-how-to-give-sadaqah-online-and-maximize-your-impact"
      >
        <div
          class="shrink-0 relative rounded-xl overflow-hidden h-[200px] sm:w-[250px] sm:h-[350px] w-full"
        >
          <img
            class="size-full absolute top-0 start-0 object-cover"
            src="https://images.unsplash.com/photo-1664574654529-b60630f33fdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80"
            alt="Blog Image"
          />
        </div>

        <div class="grow">
          <div class="p-4 flex flex-col h-full sm:p-6">
            <div class="mb-3">
              <p
                class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800"
              >
                Business
              </p>
            </div>
            <h3
              class="text-lg sm:text-2xl font-semibold text-gray-800 group-hover:text-blue-600 group-focus:text-blue-600"
            >
              Step-by-Step Guide: How to Give Sadaqah Online and Maximize Your
              Impact
            </h3>
            <p class="mt-2 text-gray-600">
              If you’re new to giving Sadaqah online, this guide breaks down the
              process, from choosing a cause to completing a donation.
            </p>

            <div class="mt-5 sm:mt-auto">
              <!-- Avatar -->
              <div class="flex items-center">
                <div class="shrink-0">
                  <img
                    class="size-[46px] rounded-full"
                    src="/user.png"
                    alt="Avatar"
                  />
                </div>
                <div class="ms-2.5 sm:ms-4">
                  <h4 class="font-semibold text-gray-800">Qasim Farooqi</h4>
                  <p class="text-xs text-gray-500">Content Writer</p>
                </div>
              </div>
              <!-- End Avatar -->
            </div>
          </div>
        </div>
      </a>
      <!-- End Card -->

      <!-- Card -->
      <a
        class="group sm:flex rounded-xl focus:outline-none"
        href="/articles/how-sadaqah-online-uses-technology-to-create-positive-change"
      >
        <div
          class="shrink-0 relative rounded-xl overflow-hidden h-[200px] sm:w-[250px] sm:h-[350px] w-full"
        >
          <img
            class="size-full absolute top-0 start-0 object-cover"
            src="https://images.unsplash.com/photo-1669824774762-65ddf29bee56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80"
            alt="Blog Image"
          />
        </div>
        <div class="grow">
          <div class="p-4 flex flex-col h-full sm:p-6">
            <div class="mb-3">
              <p
                class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800"
              >
                Announcements
              </p>
            </div>
            <h3
              class="text-lg sm:text-2xl font-semibold text-gray-800 group-hover:text-blue-600 group-focus:text-blue-600"
            >
              How Sadaqah Online Uses Technology to Create Positive Change
            </h3>
            <p class="mt-2 text-gray-600">
              Technology has changed the way we do everything, including
              charity.
            </p>

            <div class="mt-5 sm:mt-auto">
              <!-- Avatar -->
              <div class="flex items-center">
                <div class="shrink-0">
                  <img
                    class="size-[46px] rounded-full"
                    src="/user.png"
                    alt="Avatar"
                  />
                </div>
                <div class="ms-2.5 sm:ms-4">
                  <h4 class="font-semibold text-gray-800">Abrar Ahmed Khan</h4>
                  <p class="text-xs text-gray-500">Content Writer</p>
                </div>
              </div>
              <!-- End Avatar -->
            </div>
          </div>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Blog -->
  <!-- Card Blog -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid lg:grid-cols-2 gap-6">
      <!-- Card -->
      <a
        class="group sm:flex rounded-xl focus:outline-none"
        href="/articles/the-rewards-of-sadaqah-and-why-giving-online-makes-it-simple"
      >
        <div
          class="shrink-0 relative rounded-xl overflow-hidden h-[200px] sm:w-[250px] sm:h-[350px] w-full"
        >
          <img
            class="size-full absolute top-0 start-0 object-cover"
            src="https://images.unsplash.com/photo-1664574654529-b60630f33fdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80"
            alt="Blog Image"
          />
        </div>

        <div class="grow">
          <div class="p-4 flex flex-col h-full sm:p-6">
            <div class="mb-3">
              <p
                class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800"
              >
                Business
              </p>
            </div>
            <h3
              class="text-lg sm:text-2xl font-semibold text-gray-800 group-hover:text-blue-600 group-focus:text-blue-600"
            >
              The Rewards of Sadaqah and Why Giving Online makes it Simple
            </h3>
            <p class="mt-2 text-gray-600">
              Charity has always been a pillar of Islam, but the way we give is
              evolving.
            </p>

            <div class="mt-5 sm:mt-auto">
              <!-- Avatar -->
              <div class="flex items-center">
                <div class="shrink-0">
                  <img
                    class="size-[46px] rounded-full"
                    src="/user.png"
                    alt="Avatar"
                  />
                </div>
                <div class="ms-2.5 sm:ms-4">
                  <h4 class="font-semibold text-gray-800"></h4>
                  <p class="text-xs text-gray-500">Tanveer Zerdi</p>
                </div>
              </div>
              <!-- End Avatar -->
            </div>
          </div>
        </div>
      </a>
      <!-- End Card -->

      <!-- Card -->
      <a
        class="group sm:flex rounded-xl focus:outline-none"
        href="/articles/how-sadaqah-online-is-shaping-the-future-of-charitable-giving"
      >
        <div
          class="shrink-0 relative rounded-xl overflow-hidden h-[200px] sm:w-[250px] sm:h-[350px] w-full"
        >
          <img
            class="size-full absolute top-0 start-0 object-cover"
            src="https://images.unsplash.com/photo-1669824774762-65ddf29bee56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80"
            alt="Blog Image"
          />
        </div>
        <div class="grow">
          <div class="p-4 flex flex-col h-full sm:p-6">
            <div class="mb-3">
              <p
                class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800"
              >
                Announcements
              </p>
            </div>
            <h3
              class="text-lg sm:text-2xl font-semibold text-gray-800 group-hover:text-blue-600 group-focus:text-blue-600"
            >
              How Sadaqah Online is shaping the Future of Charitable Giving
            </h3>
            <p class="mt-2 text-gray-600">
              At Wake, our mission has always been focused on bringing openness.
            </p>

            <div class="mt-5 sm:mt-auto">
              <!-- Avatar -->
              <div class="flex items-center">
                <div class="shrink-0">
                  <img
                    class="size-[46px] rounded-full"
                    src="/user.png"
                    alt="Avatar"
                  />
                </div>
                <div class="ms-2.5 sm:ms-4">
                  <h4 class="font-semibold text-gray-800">Moinuddin Khan</h4>
                  <p class="text-xs text-gray-500">Content Writer</p>
                </div>
              </div>
              <!-- End Avatar -->
            </div>
          </div>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Blog -->
</Mainlayout>
