<div class="flex flex-col items-center justify-center h-64">
  <!-- Icon -->
  <img src="/assets/svg/i-hex.svg" alt="" />

  <!-- No Support History Text -->
  <h2 class="text-xl font-semibold text-gray-900 mb-2">No Support History</h2>

  <!-- Description Text -->
  <p class="text-gray-500">you haven't created any support cases yet</p>
</div>
