---
import Breadcrumb from "../../components-dashboard/Breadcrumb.astro";
import MainLayoutDashboard from "../../layouts/MainLayoutDashboard.astro";
import CardOne from "../../components-dashboard/dashboard/CardOne.astro";
import CardTwo from "../../components-dashboard/dashboard/CardTwo.astro";
import TransactionData from "../../components-dashboard/dashboard/TransactionData.astro";
import DonorTable from "../../components-dashboard/dashboard/DonorTable.astro";
---

<MainLayoutDashboard>
  <Breadcrumb title="Dashboard" />

  <!-- Cards -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6">
    <CardOne
      title="Daily Donation"
      value="£ 100"
      description="+30% From Last Month"
      src="background-image: url('/assets/images/card1-one.png'); color: white;"
    />
    <CardOne
      title="Weekly Donation"
      value="£ 1000"
      description="+30% From Last Month"
      src="background-image: url('/assets/images/card1-two.png'); color: black;"
    />

    <CardOne
      title="Monthly Donation"
      value="£ 10,000"
      description="+30% From Last Month"
      src="background-image: url('/assets/images/card1-three.png'); color: white;"
    />
  </div>

  <!-- Main and Sidebar Sections -->
  <div
    class="flex flex-col md:flex-row py-6 space-y-6 md:space-y-0 md:space-x-6"
  >
    <!-- Main Section -->
    <div class="p-4 md:p-6 rounded-lg w-full md:w-3/4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6 m-[-15px]">
        <CardTwo
          title="Total Donation"
          value="£ 1,50,000"
          description="+30% From Last Month"
        />
        <CardTwo
          title="Total Donors"
          value="600"
          description="+30 New Donors"
        />
        <CardTwo
          title="Active Campaign"
          value="6"
          description="+3 New Campaign"
        />
      </div>
      <TransactionData />
    </div>

    <!-- Sidebar Section -->
    <DonorTable />
  </div>
</MainLayoutDashboard>
