---
import MainLayout from "../../layouts/mainlayout.astro";
import Wizard from "../../components/donation-portal/steps/Wizard.jsx";
---

<MainLayout>
  <div class="py-12">
    <Wizard client:load />
  </div>
</MainLayout>
