---
import Mainlayout from "../layouts/mainlayout.astro";
import ContactForm from "../components/ContactForm.astro"
---
<Mainlayout>
    <div class="flex items-center justify-center relative overflow-hidden w-full h-[12rem] md:h-[20rem] bg-[url('/banner-bg.jpg')]">
        <div class="p-6 max-w-md">
            <h1 class="text-7xl font-bold text-center text-white">Contact</h1>
            <p class="text-white text-center max-w-3xl mx-auto py-2 ">We love to hear from you</p>
        
        </div>
    </div>
<ContactForm />
</Mainlayout>