---
import Mainlayout from "../layouts/mainlayout.astro";
import Homeslider from "../components/Homeslider.astro";
import Formhome from "../components/Formhome.astro";
import Subscribe from "../components/subscribe.astro";
import ComingSoon from "../components/ComingSoon.astro";
---

<!-- <Mainlayout>  -->
  <!-- <Homeslider /> -->
 <!-- <Subscribe /> -->
  <ComingSoon /> 
  <!-- <hr class="border-1">

  <section class="bg-[#02343f]">
    <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
            <div class="max-w-lg">
                <h2 class="text-3xl font-extrabold text-white sm:text-4xl">About Us</h2>
                <p class="mt-4 text-gray-100 text-lg ">Our innovative Donation Fulfillment Platform platform prioritizes both charity operations and donor experiences, ensuring precision and maximum benefit delivery within 48 hours. <br> We provide tools for complete transparency in service delivery while ensuring the utmost security of all data. We never sell or trade personal information.</p>
                <div class="mt-8 bg-[#F0EDCC] p-2 rounded-xl min-w-fit w-12 transition hover:scale-110">
                    <a href="/about" class="text-[#02343f] hover:text-black font-medium">Learn more about us
                        <span class="ml-2">&#8594;</span></a>
                </div>
            </div>
            <div class="mt-12 md:mt-0">
                <img src="/cow-home.jpeg" alt="About Us Image" class="flex object-cover rounded-lg shadow-md">
            </div>
        </div>
    </div>
</section>
<hr class="border-1">
<Formhome />
<hr class="border-1"> -->

  <!-- <style>
    body{
      background-color: #02343f;
    }
  </style>
</Mainlayout> -->
