---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"


---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
		<title>My Sadaqah Online</title>
		<meta name="robots" content="noindex">
	</head>
    <Header></Header>
	<body>
		<slot />
	</body>
    <Footer></Footer>
</html>
<script>import "preline/dist/preline.js";</script>
<script is:inline src="https://cdn.tailwindcss.com"></script>
