---
import SingleTransactionRow from "./SingleTransactionRow.astro";
---

<section class="m-[-20px] p-2 pt-10">
  <div class="flex items-center justify-between mb-4 pb-8">
    <h2 class="md:text-[28px] text-xl font-bold text-gray-800 align-middle">
      Last Transaction
    </h2>
    <button
      class="px-4 py-2 bg-[#02343F] text-[12px] md:text-[16px] text-white rounded-lg hover:bg-[#034c5c]"
      >View More</button
    >
  </div>
  <div class="h-80 overflow-auto overflow-x-scroll shadow-md md:shadow-none">
    <SingleTransactionRow
      category="Sadaqah"
      date="2022-01-01"
      programName="Education Fund"
      amount="500"
    />
    <SingleTransactionRow
      category="Sadaqah"
      date="2022-01-02"
      programName="Healthcare Fund"
      amount="250"
    />
    <SingleTransactionRow
      category="Sadaqah"
      date="2022-01-03"
      programName="Poverty Alleviation"
      amount="1000"
    />
    <SingleTransactionRow
      category="Sadaqah"
      date="2022-01-04"
      programName="Orphan Support"
      amount="300"
    />
    <SingleTransactionRow
      category="Sadaqah"
      date="2022-01-05"
      programName="Elderly Care"
      amount="200"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-07"
      programName="Water Projects"
      amount="150"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-08"
      programName="Masjid Construction"
      amount="1000"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-09"
      programName="Ramadan Food Packs"
      amount="500"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-10"
      programName="Qurbani"
      amount="800"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-11"
      programName="Refugee Support"
      amount="600"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-12"
      programName="Microfinance"
      amount="400"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-13"
      programName="Skills Training"
      amount="300"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-14"
      programName="Women Empowerment"
      amount="200"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-15"
      programName="Youth Development"
      amount="500"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-16"
      programName="Economic Empowerment"
      amount="1000"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-17"
      programName="Clean Water"
      amount="300"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-18"
      programName="Education for Girls"
      amount="400"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-19"
      programName="Healthcare for All"
      amount="600"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-20"
      programName="Orphan Education"
      amount="200"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-21"
      programName="Emergency Relief"
      amount="500"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-22"
      programName="Housing Projects"
      amount="1000"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-23"
      programName="Water Wells"
      amount="300"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-24"
      programName="Food Distribution"
      amount="400"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-25"
      programName="Skills Development"
      amount="200"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-26"
      programName="Refugee Assistance"
      amount="500"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-27"
      programName="Vocational Training"
      amount="800"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-28"
      programName="Health Clinics"
      amount="600"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-29"
      programName="Orphan Sponsorship"
      amount="400"
    />
    <SingleTransactionRow
      category="Zakat"
      date="2022-01-30"
      programName="Disaster Response"
      amount="300"
    />
  </div>
</section>
